<%- include("layouts/header") %>
    <main>
        <h1>Register Now</h1>
        <form action="/user/register" method="post">
            <div>
                <label for="username">Name: </label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password">
            </div>
            <input type="submit" value="Register">
        </form>
    </main>
<%- include("layouts/footer") %>